{% extends 'base.html.twig' %}

{% block title %}Carrito{% endblock %}

{% block content %}
<h1>Tu carrito</h1>

{% if detalles is empty %}
    <p>No tienes productos en el carrito.</p>
{% else %}
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
                <tr>
                    <td>{{ detalle.producto.nombre }}</td>
                    <td>{{ detalle.precioUnitario }}€</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.precioUnitario * detalle.cantidad }}€</td>
                    <td>
                         <form method="post" action="{{ path('modificar_cantidad_carrito', { id: detalle.id }) }}">
                            <input type="number" name="cantidad" value="{{ detalle.cantidad }}" min="1">
                            <button type="submit">Actualizar cantidad</button>
                        </form> 
                    </td>
                    <td> 
                        <form method="post" action="{{ path('eliminar_del_carrito', { id: detalle.id }) }}">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
           
        </tbody>
    </table>
    <p><strong>Total:</strong> {{ pedido.total }}€</p>
    <form action="{{ path('vaciar_carrito') }}" method="post" onsubmit="return confirm('¿Estás seguro de que quieres vaciar el carrito?');">
        <button type="submit">Vaciar carrito</button>
    </form>
{% endif %}

<a href="{{ path('app_categorias') }}">Seguir comprando</a>
{% endblock %}
