{# templates/partials/navbar.html.twig #}
<style>
  .bg-verde-claro {
    background-color: #d4edda !important;
  }

  .navbar-nav .nav-item {
    margin: 0 15px;
  }
</style>

<nav class="navbar navbar-expand-lg bg-verde-claro">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fresh&Go</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('app_home') }}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_categorias') }}">Categorías</a>
        </li>
        {# Para mostrar el usuario, o iniciar sesion #}
        {% if app.user %}
                <li class="nav-item nav-link">Bienvenido, {{ app.user.email }}</li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_logout') }}">Cerrar sesión</a>
                </li>
            {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_login') }}">Iniciar sesión</a> 
                </li>
                <li>
                  <a class="nav-link" href="{{ path('app_registro') }}">Registrarse</a>
                </li> 
            {% endif %}
      </ul>
    </div>
  </div>
</nav>
