{% extends 'base.html.twig' %}

{% block title %}Productos de {{ categoria.nombre }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/categoria_productos.css') }}">
{% endblock %}


{% block content %}
    <div class="container mt-5">
        <h1 class="text-center text-success mb-4">Productos en la categoría: {{ categoria.nombre }}</h1>

        <div class="row g-4 justify-content-center">
            {% for producto in productos %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <a href="{{ path('producto_detalle', {'id': producto.id}) }}" class="text-decoration-none">
                        <div class="card producto-card h-100 shadow-sm">
                            <div class="producto-imagen">
                                {% set foto = producto.getPrimeraFoto() %}
                                <img src="{{ asset('uploads/fotos_productos/'   ~ foto.foto)}}" class="card-img-top" alt="Imagen de {{ producto.nombre }}">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-success">{{ producto.nombre }}</h5>
                                <p class="card-text text-muted">{{ producto.descripcion|slice(0, 100) ~ '...' }}</p>
                                <p class="text-success h5">{{ producto.precio }}€</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="col-12 text-center">
                    <p>No hay productos disponibles en esta categoría.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

