{% extends 'base.html.twig' %}

{% block title %}{{ producto.nombre }}{% endblock %}

{% block content %}
    <p>Precio: {{ producto.precio }}€</p>
    <p>Descripción: {{ producto.descripcion }}</p>

    <form action="{{ path('anadir_al_carrito', { id: producto.id }) }}" method="post">
        {% if app.user %}
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" value="1" min="1">
            <button type="submit">Añadir al carrito</button>
        {% else %}
            <a href="{{ path('app_login', { redirectTo: path('producto_detalle', { id: producto.id }) }) }}">
                Inicia sesión para añadir al carrito
            </a>
            <p>¿No tienes cuenta? <a href="{{ path('app_registro', { redirectTo: path('producto_detalle', { id: producto.id }) }) }}">
            Regístrate aquí
            </a></p>
        {% endif %}
    </form>

    <a href="{{ path('categoria_productos', {'id': producto.categoria.id}) }}">Volver a la categoría</a>
{% endblock %}

