{% extends 'admin/base_admin.html.twig' %}


{% block content %}
    <a href="{{ path('admin') }}" class="btn btn-outline-primary my-3">Volver al panel de administración</a>
    <h1>Listado de Usuarios</h1>

    <a href="{{ path('usuario_create') }}" class="btn btn-primary mb-3">Crear usuario</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellidos }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        {% for rol in usuario.roles %}
                            <span class="badge bg-secondary">{{ rol }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <div class="d-flex gap-2">
                            <a href="{{ path('usuario_show', { id: usuario.id }) }}" class="btn btn-sm btn-info">Ver</a>
                            <a href="{{ path('usuario_edit', { id: usuario.id }) }}" class="btn btn-sm btn-warning ">Editar</a>
                            <form method="post" action="{{ path('usuario_delete', {'id': usuario.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este usuario?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete_usuario_' ~ usuario.id) }}">
                                <button class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">No hay usuarios.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

