{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="container my-4">
        <h1 class="mb-4 text-success">Panel de administración</h1>

        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card border-success">
                    <div class="card-body text-center">
                        <h5 class="card-title text-success">Usuarios</h5>
                        <p class="display-6">{{ totalUsuarios }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success">
                    <div class="card-body text-center">
                        <h5 class="card-title text-success">Productos activos</h5>
                        <p class="display-6">{{ totalProductosActivos }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success">
                    <div class="card-body text-center">
                        <h5 class="card-title text-success">Pedidos totales</h5>
                        <p class="display-6">{{ totalPedidos }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success">
                    <div class="card-body text-center">
                        <h5 class="card-title text-success">Categorías activas</h5>
                        <p class="display-6">{{ totalCategoriasActivas }}</p>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="mb-3">Accesos rápidos</h4>
        <div class="d-flex flex-wrap gap-3">
            <a href="{{ path('usuario_create') }}" class="btn btn-success">Nuevo usuario</a>
            <a href="{{crearProductoUrl}}" class="btn btn-success">Nuevo producto</a>
            <a href="{{crearCategoriaUrl}}" class="btn btn-success">Nueva categoría</a>
        </div>
    </div>
{% endblock %}
