{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block content %}
    <h1>Registro</h1>

    {{ form_start(form, {'attr': {'id': 'form-registro'}}) }}

    {# Mostrar errores generales del formulario #}
    {{ form_errors(form) }}

    {% for field in form %}
        {% if field.vars.name != '_token' and field.vars.name != 'submit' %}
            <div class="form-group">
                {{ form_label(field) }}
                {{ form_widget(field) }}
                <div class="mensaje-error" id="error-{{ field.vars.id }}"></div>
            </div>
        {% endif %}
    {% endfor %}

    
    {{ form_end(form) }}
    <script src="{{ asset('js/registro.js') }}"></script>
{% endblock %}

